

footer {
    background-color: #173753;
    color: whitesmoke;
    width: 100%;
    height: inherit;
    text-align: center;
}

/* @media screen and (max-width: 375px) {
    footer {
        height
    }
} */
