* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

footer {
    background-color: #173753;
    color: whitesmoke;
    width: 100%;
    height: 30px;
    text-align: center;
}
